@import url('https://fonts.googleapis.com/css?family=Anton');

#cont_general_login{
    padding: 10px;
}

#cont_logo_login_usuario{
    text-align: center;
}

#cont_login{
    
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    border-radius: 3px;
    max-width: 400px;
    background-color: aliceblue;
}
#login{
    width: 90%;
    margin: auto;
    height: 100%;
    border-radius: 5px;
}
#cont_login h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    height: 70px;
    font-size: 25px;
    padding: 10px;
}

#cont_alerta_login{
    height: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

.l-cajas{
    display: block;
    font-size: 20px;
}


.l-contra{
    display: block;
    font-size: 20px;
    text-align: center;
}
.l-contra a{
    text-decoration: none;
}
.l-nuevo{
    display: block;
    text-align: center;
    
}
.l-nuevo a{
    text-decoration: none;
}
.cajas{
    width: 100%;
    margin: 0px 15px 10px 0px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
#entrar{
    display: block;
    height: 50px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px; 

}
