<!DOCTYPE html>
<html lang="es">
	<head>
		<title>AcaNunciate</title>
		<%include ../parches/meta%>
    </head>
    <body>
     <div id="cont_general">
         <header>
             <div id="cont_general_menu_AU">  
                <div id="cont_logo_AU" class="m">
                    <a href="/publicaciones">
                       <img src="/imagenes/acalogofinalSFF-4.png">
                    </a>            
                 </div>    
             </div>           
         </header>
     </div>
     <%include ../parches/footer%>
    </body>
</html>  