
#titulo_restablecer_contrasena{
    text-align: center;
    color: white;
}
#cont_restablecer_contrasena p{
    color: white;
}
#div_txt_correo_restablecer_contrasena{
    text-align: center;
    margin: 5px;
}
#div_btn_aceptar_restablecer_contrasena{
    text-align: center;
}
#txt_correo_restablecer_contrasena{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    text-align: center;
    
}

/*PANTALLA CHICA*/
@media (max-width: 820px) {
    #cont_general_restablecer_contrasena{
        
    }
    #cont_restablecer_contrasena{
        width: 80%;
        margin: auto;
    }
    #txt_correo_restablecer_contrasena{
        width: 100%;
    }   
}
/*PANTALLA GRANDE*/
@media (min-width: 820px) {
    #cont_general_restablecer_contrasena{
        
    }
    #cont_restablecer_contrasena{
        width: 60%;
        margin: auto;
    }
}