<header>
   <div id="cont_general_menu_AU">  
       <div id="cont_logo_AU">
           <a href="/publicaciones">
              <img src="/imagenes/acalogofinalSFF-4.png">
           </a>
           <div id="cont_boton_menu_AU">
              <span id="boton_menu_AU" class="icon-bars"></span>
           </div>            
        </div>
        <div id="cont_menu_AU"> 
           <nav>
              <ul id="menu">
                 <li id="publicaciones"><a href="/publicaciones">Publicaciones</a></li>
    	         <li id="dispositivos"><a href="/dispositivos">Dispositivos</a></li>
    	         <li id="contenido"><a href="/contenido">Contenido</a></li>
    	         <li id="usuario"><a><strong><%=user.nombre%> </strong><span id="user-icono" class="icon-sort-down"></span></a>
                    <ul id="sub_menu">
                       <li><a id="perfil_usuario" href="/perfil">Pefil</a></li>
                       <li><a href="/salir_usuario">Cerrar Sesión</a></li>
                    </ul>
                 </li>
              </ul>
           </nav>
        </div>      
    </div>           
</header>   
