<!DOCTYPE html>
<html lang="es">
  <head>
      <title>AcaNunciate</title>
      <% include parches/meta%>
  </head>
  <body>
    <div id="cont_imagen_header_fondo">
     <header>
       <div id="cont_header_top">
         <div id="cont_menu_principal_top">
            <ul>
                <li><a href="#">Descargas</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="/login_usuario">Iniciar sesión</a></li>   
            </ul>
         </div>      
       </div>
       <div id="cont_header_principal" class="">
        <div id="cont_logo_principal">
            <a href="/">
              <div id="cont_logo_titulo_principal">
                 <img src="/imagenes/acalogofinalSFF-3.png" alt=""> 
              </div>
            </a>
            <div id="cont_boton_menu_principal">
                <span id="boton_menu" class="icon-bars"></span>
            </div>      
        </div>
        <div id="cont_menu_principal">
           <ul id="menu_ul_principal" >
               <li><a href="#que_somos">Que somos</a></li>
               <li><a href="#empresas_anunciadas">Empresas anunciadas</a></li>
               <li><a href="#beneficios">Beneficios</a></li>
               <li id="registrarse"><a href="/registro">Contactanos</a></li>
               <div id="log_in"><a href="/login_usuario">Iniciar sesión</a></div>
           </ul>
        </div>
       </div>    
      </header>
      <span class="icon-arrow-up btn_arriba"></span>
      <div id="cont_1_principal">
          <h1>¿ Que esperas ?</h1>
          <h2>anúnciate con nosotros</h2>
          <h3>Aquí Acapulco si te ve</h3>       
      </div>
      </div>
      <div id="cont_section">
      <section>
          <div id="cont_2_principal">
              <div id="cont_general_slider">
                  <div id="empresas_anunciadas">
                      <h2>EMPRESAS ANUNCIADAS</h2>
                  </div>
                  <div id="cont_slider">
                     <div id="slider">
                      <section>
                          <img src="/imagenes/lagranja.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/alolivo.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/labraza.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/cocoroll.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/gotchalagranja.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/pacifitours.png" alt="">
                      </section>
                      <section>
                          <img src="/imagenes/xtasea.png" alt="">
                      </section>
                      </div>
                  </div>
                  <div id="btn_atras"><i class="icon-chevron-left"></i></div>
                  <div id="btn_adelante"><i class="icon-chevron-right"></i></div>
              </div>
          </div>
      </section>
      <section>
          <div id="cont_3_principal">
              <div class="cont">
                  <div id="que_somos" class="titulo">
                      <h1>PUBLICIDAD DIGITAL</h1>
                      <H2>HAZ CRECER TU NEGOCIO O EMPRESA OPTIMIZANDO TU PUBLICIDAD CENTRANDOLA EN CLIENTES POTENCIALES PARA TU NEGOCIO.</H2>
                  </div>
                  <div>    
                     <div>
                         <H1></H1>
                         <p id="p_inicial">En la actualidad la tecnologia se ha convertido en un medio por el cual se mueve todo el comercio (TV, Internet, Medios Digitales). Si quieres un incremento de beneficios para tu empresa no dudes que este sistema es el idóneo para ti. <a id="acanunciate" href="/">AcaNunciate</a> es tu opción de publicidad.Tu publicidad será vista en pantallas instaladas en Automóviles (servicio de taxi) ubicados en la zona diamante como plazas comerciales, hoteles,aeropuerto y demás.Los traslados mas cortos de clientes son de aproximado 15 minutos y el espacio publicitario o anuncio  es de 15 segundos, tendrás aproximadamente 60 reproducciones en el traslado mas corto. Tu empresa, negocio o evento será transmitida en 18 pantallas cada que un cliente aborde al taxi, estimando mas de 1000 reproducciones en un día. La tarifa por anuncio es de $500 pesos por mes,no esperes mas y anúnciate,haz crecer tu negocio.
                         </p>
                     </div>
                     <div>
                         
                     </div>
                 </div>     
              </div>
          </div>
      </section>
      <section>
          <div id="cont_4_principal">
              <div class="cont">
                  <div class="titulo">
                      <h1>BENEFICIOS DE CONTRATAR NUESTRO SERVICIO</h1>
                  </div>
                  <div class="cont_linea_acoplado">
                      <div id="beneficios" class="cont_beneficios">
                          <div class="cont_icon"><i class="icon-eye"></i></div>
                          <h3 class="titulo">ACTIVACIÓN DE PANTALLAS</h3>
                          <div>
                              <p>El sistema AcaNunciate activa las pantallas cuando un cliente aborda la unidad de taxi y se encuentra activa durante todo el traslado</p>
                          </div>
                      </div>
                      <div class="cont_beneficios">
                          <div class="cont_icon"><i class="icon-sitemap"></i></div>
                          <h3 class="titulo">RED DE SISTEMA AcaNunciate</h3>
                          <div>
                              <p>Controlamos todas nuestras pantallas y la publicidad de nuestros clientes desde nuestro centro de datos de forma remota. Tu publicidad siempre estará activada y controlada por nuestro equipo. ¡Garantizado!.</p>
                          </div>
                      </div>
                      <div class="cont_beneficios">
                          <div class="cont_icon"><i class="icon-group"></i></div>
                          <h3 class="titulo">AUMENTA TU CLIENTELA</h3>
                          <div>
                              <p>La publicidad digital en pantallas lcd en taxis enriquece, entretiene e informa. Una buena publicidad incrementa el beneficio de tu empresa, pero a su vez también aumenta su prestigio en el mercado.</p>
                          </div>
                      </div>
                      <div class="cont_beneficios">
                          <div class="cont_icon"><i class="icon-money"></i></div>
                          <h3 class="titulo">RENTABLIDAD</h3>
                          <div>
                              <p>La inversión realizada es mínima en comparación con otros medios de publicidad, y podrás recuperarla rápidamente y obtener beneficios desde el primer día, gracias a que conservamos la captación del cliente en cada recorrido y el 95% de los clientes son de elevado poder adquisitivo.</p>
                          </div>
                      </div>
                      <div class="cont_beneficios">
                          <div class="cont_icon"><i class="icon-thumbs-o-up"></i></div>
                          <h3 class="titulo">BENEFICIOS</h3>
                          <div>
                              <p>La publicidad digital en taxis resulta muy efectiva, gracias a que la mayoría de usuarios de los taxis son ejecutivos, trabajadores, y una gran parte turistas que buscan en Acapulco una nueva experiencia de viaje, conseguimos que tu publicidad llegue a futuros clientes con ingresos, que realmente son los que dejaran beneficios en tu negocio.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>      
      <footer>
        <div id="contenedor_footer">
            <div id="cont_img_footer">
                <img src="imagenes/acalogofinalSFF-4.png" alt="">
            </div>
            <div id="cont_info_footer">
                <span>AcaNunciate © 2018 Todos los derechos reservados</span>
            </div>
            <div id="cont_redes_sociales">
                <div><i class="icon-twitter-square icono_rs"></i></div>
                <div><i class="icon-facebook-square icono_rs"></i></div>
                <div><i class="icon-google-plus-square icono_rs"></i></div>
            </div>
        </div>
      </footer>     
  </body>
  <script type="text/javascript"  src="/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
</html>