<!DOCTYPE html>
<html lang="es">
  <head>
    <title>AcaNunciate</title>
    <% include parches/meta%>
  </head>
    <body class="textura_ladrillo">
      <div id="cont_general">
        <div id="">
             <header class="textura_ladrillo">
                 <div id="cont_logo_login_usuario">
                    <a href="/">
                        <div id="">
                            <img src="/imagenes/acalogofinalSFF-4.png">
                        </div>
                     </a>      
                 </div>
              </header>    
        </div>
        <div id="cont_general_registro_exitoso">
            <div id="cont_registro_exitoso">
                <div>
                    <h1>TU SOLICITUD FUE ENVIADA</h1>
                </div>
                <div>
                    <h2>Nos pondremos en contacto para hacerte saber toda la informacion necesaria</h2>
                </div>
                <div>
                    <a href="/"><button type="button" class="btn btn_new">Aceptar</button></a>
                </div>
            </div>
        </div>
      
      </div>
    </body>
 <% include parches/footer%>  
 <% include parches/script%> 
</html>