@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/*MENU*/
header{
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background-color: rgba(51,51,51,.9);
}
#menu{
    list-style: none;
    line-height: 70px;
}
#sub_menu{
    list-style: none;
    line-height: 50px;
}
#menu li,#sub_menu li{
    border-radius: 5px;
}
#menu a{
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 15px;
}




/*cont_menu fin*/
/*MENU FIN*/
/*boton menu au*/

/*boton menu au fin*/
.active{
    background-color: rgba(0,0,0,.3);
    
}
/*-------PANTALLA CHICA-------------*/
@media (max-width: 820px) {
    
    /*------------------------------------*/
    #cont_general_menu_AU{
        width: 90%;
        margin: auto;
    }
    /*------------------------------------*/
    #cont_logo_AU{
        position: relative;
        text-align: center;
    }
    /*------------------------------------*/
    #cont_boton_menu_AU{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        display: table;
        cursor: pointer;
    }
    #boton_menu_AU{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 40px;
        color: white;
    }
    /*------------------------------------*/
    #cont_menu_AU{
        display: none;
    }
    /*------------------------------------*/
    #menu{
        
    }
    #sub_menu{
        display: none;
    }
    /*------------------------------------*/


}

/*----------PANTALLA GRANDE---------------------*/
@media (min-width: 821px) {
    
    /*------------------------------------*/
    #cont_general_menu_AU{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /*------------------------------------*/
    #cont_logo_AU{
        height: 70px;
    }
    /*------------------------------------*/
    #cont_boton_menu_AU{
        display: none;
    }
    /*------------------------------------*/
    #cont_menu_AU{
        position: relative;
        box-sizing: border-box;
    }
    /*------------------------------------*/
    #menu{
        
    }
    #menu li{
        display: inline-block;
    }
    #sub_menu{
        position: absolute;
        left: 28%;
        width: 72%;
        border-radius: 5px;
        background-color: rgba(51,51,51,1);
        display: none;
    }
    #sub_menu li{
        display: block;
    }
    #menu li a:hover{
        background-color: rgba(255,255,255,.8);
        color: black;
    }    
    #sub_menu li a:hover{
        background-color: rgba(255,255,255,.8);
        color: black;
    }
    /*------------------------------------*/
    

}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/